

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,trace,logfile,prometheus,threaddump
      base-path: /actuator
  endpoint:
    health:
      show-details: always

  observations:
    annotations:
      enabled: true

  tracing:
    sampling:
      probability: 1.0
    opentelemetry:
      export:
        include-unsampled: true
    propagation:
      produce: W3C, b3, b3_multi, w3c
      consume: W3C, B3, B3_MULTI
    enabled: true

  metrics:
    data:
      repository:
        autotime:
          percentiles-histogram: true
    distribution:
      percentiles-histogram:
        all: true
        http.server.requests: true

  otlp:
    metrics:
      export:
        enabled: true
#        protocol: http/protobuf
        url: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/metrics
        headers:
          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
        step: 30s
        aggregation-temporality: cumulative



    logging:
      export:
        enabled: false
    tracing:
      export:
        enabled: false




spring:
  reactor:
    context-propagation: auto



# redis
  data:
    redis:
      host: 192.168.1.76
      port: 6379
      password: root123
      username: default
      client-type: lettuce
      database: 0
      ssl:
        enabled: false


# postgres
  datasource:
    username: postgres
    password: root123
    url: "jdbc:postgresql://192.168.1.76:5432/pgdb"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate      # for development, use 'validate' or 'none' for production
    show-sql: true           # optional: shows SQL in logs
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.format_sql: true




#  rabbitmq:
#    host: 192.168.1.71
#    port: 5672
#    username: root
#    password: root123
#
#    # Optional: connection settings
#    virtual-host: /
#    connection-timeout: 60000
#
#    # Publisher confirms & returns (useful for reliability)
#    publisher-confirm-type: correlated
#    publisher-returns: true
#
#    # Listener container config
#    listener:
#      simple:
#        acknowledge-mode: auto
#        concurrency: 3
#        max-concurrency: 10
#      direct:
#        acknowledge-mode: manual




weather:
  apikey: ${OPEN_WEATHER_API_KEY:0c3c357cbb2ceacfc2544131a21c4cdd}



otel:
  exporter:
    otlp:

#      logs:
#        endpoint: http://192.168.1.93:4317/v1/logs
#        protocol: grpc
      logs:
        endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/logs
        protocol: http/protobuf
        headers:
          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="

#      metrics:
#        endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/metrics  # https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom/push
#        protocol: http/protobuf
#        headers:
#          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
#        temporality:
#          preference: CUMULATIVE
#        default:
#          histogram:
#            aggregation: EXPLICIT_BUCKET_HISTOGRAM


#      metrics:
#        endpoint: http://192.168.1.93:4318/v1/metrics
#        protocol: http/protobuf
#      traces:
#        endpoint: http://192.168.1.93:4318/v1/traces
#        protocol: http/protobuf
#        timeout: 15000
      traces:
        endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/traces
        headers:
          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
        protocol: http/protobuf

  logs:
    exporter: otlp
  traces:
    exporter: otlp
  metrics:
    exporter: none    # try this next


  propagators: tracecontext,baggage,b3,b3multi,ottrace



#logging:
#  level:
#    io.opentelemetry: DEBUG
#    io.micrometer: DEBUG
