

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,trace,logfile,prometheus,threaddump
      base-path: /actuator
  endpoint:
    health:
      show-details: always

  tracing:
    sampling:
      probability: 1.0
    opentelemetry:
      export:
        include-unsampled: true
    propagation:
      produce: W3C
      consume: W3C, B3, B3_MULTI
    enabled: true

  observations:
    annotations:
      enabled: true


  otlp:
    metrics:
      export:
        enabled: false
    logging:
      export:
        enabled: false
    tracing:
      export:
        enabled: true

#
#  otlp:
#    metrics:
#      export:
#        enabled: false
#        url: http://192.168.1.93:4318/v1/metrics
#
#    tracing:
#      endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/traces
#      headers:
#        Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
#      transport: http
#      export:
#        enabled: true
#
#    logging:
#      export:
#        enabled: false
#
#
#  observations:
#    enable:
#      all: true
#
#    annotations:
#      enabled: true
#
#
#  tracing:
#    sampling:
#      probability: 1.0
#    opentelemetry:
#      export:
#        include-unsampled: true
#    propagation:
#      produce: W3C
#      consume: W3C, B3, B3_MULTI
#    enabled: true
#
#  logging:
#    export:
#      enabled: false





spring:
  reactor:
    context-propagation: auto



  data:
    redis:
      host: 192.168.1.76
      port: 6379
      password: root123
      username: default
      client-type: lettuce
      database: 0
      ssl:
        enabled: false






#  rabbitmq:
#    host: 192.168.1.71
#    port: 5672
#    username: root
#    password: root123
#
#    # Optional: connection settings
#    virtual-host: /
#    connection-timeout: 60000
#
#    # Publisher confirms & returns (useful for reliability)
#    publisher-confirm-type: correlated
#    publisher-returns: true
#
#    # Listener container config
#    listener:
#      simple:
#        acknowledge-mode: auto
#        concurrency: 3
#        max-concurrency: 10
#      direct:
#        acknowledge-mode: manual




weather:
  apikey: ${OPEN_WEATHER_API_KEY:0c3c357cbb2ceacfc2544131a21c4cdd}



otel:
  exporter:
    otlp:
      logs:
        endpoint: http://192.168.1.93:4318/v1/logs
      metrics:
        endpoint: http://192.168.1.93:4318/v1/metrics
      traces:
        endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/traces
        headers:
          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
        protocol: http/protobuf

  logs:
    exporter: none
  traces:
    exporter: otlp
  metrics:
    exporter: none


  propagators: tracecontext,baggage



