

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,trace,logfile,prometheus,threaddump
      base-path: /actuator
  endpoint:
    health:
      show-details: always

  observations:
    annotations:
      enabled: true




  tracing:
    export:
      enabled: true
      otlp:
        enabled: true
    propagation:
      consume: W3C, B3, B3_MULTI
      produce: W3C, b3, b3_multi
    sampling:
      probability: 1.0


  metrics:
    enable:
      all: true
    distribution:
      percentiles-histogram:
        all: true
      percentiles:
        all: 0.99, 0.95, 0.90, 0.75


  logging:
    export:
      enabled: true
      otlp:
        enabled: true





  opentelemetry:

    logging:
      export:
        otlp:
          transport: http
          compression: none
          endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/logs
          headers:
            Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="


    tracing:
      export:
        otlp:
          transport: http
          compression: gzip
          endpoint: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/traces
          headers:
            Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
        include-unsampled: true



  otlp:
    metrics:
      export:
        enabled: true
        url: https://otlp-gateway-prod-ap-south-1.grafana.net/otlp/v1/metrics
        headers:
          Authorization: "Basic MTAyMDYxOTpnbGNfZXlKdklqb2lNVEl3TlRRMk1TSXNJbTRpT2lKemRHRmpheTB4TURJd05qRTVMVzkwYkhBdGQzSnBkR1V0YjNSc2NDMWpiMjV1WldOMGIzSWlMQ0pySWpvaVFVeEdTRkJOT1ZZMldUaGFPRGcwUVRNd2NFWTJPRVZFSWl3aWJTSTZleUp5SWpvaWNISnZaQzFoY0MxemIzVjBhQzB4SW4xOQ=="
        histogram-flavor: explicit-bucket-histogram
        aggregation-temporality: cumulative












spring:



# redis
  data:
    redis:
      host: 192.168.1.76
      port: 6379
      password: root123
      username: default
      client-type: lettuce
      database: 0
      ssl:
        enabled: false


# postgres
  datasource:
    username: postgres
    password: root123
    url: "jdbc:postgresql://192.168.1.76:5432/pgdb"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate      # for development, use 'validate' or 'none' for production
    show-sql: true           # optional: shows SQL in logs
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.format_sql: true




#  rabbitmq:
#    host: 192.168.1.71
#    port: 5672
#    username: root
#    password: root123
#
#    # Optional: connection settings
#    virtual-host: /
#    connection-timeout: 60000
#
#    # Publisher confirms & returns (useful for reliability)
#    publisher-confirm-type: correlated
#    publisher-returns: true
#
#    # Listener container config
#    listener:
#      simple:
#        acknowledge-mode: auto
#        concurrency: 3
#        max-concurrency: 10
#      direct:
#        acknowledge-mode: manual




weather:
  apikey: ${OPEN_WEATHER_API_KEY:0c3c357cbb2ceacfc2544131a21c4cdd}




#logging:
#  level:
#    io.opentelemetry: DEBUG
#    io.micrometer: DEBUG



